<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to ToDo <%= @user.username %>!</h1>
  <p>You have successfully signed up for an account.</p>
  <p>Thanks for joining, have a great day!</p>
</body>
</html>