.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-evenly;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  padding-left: var(--space-m);
  padding-right: var(--space-m);

  @include media(tabletAndUp) {
    margin-bottom: var(--space-xl);
  }
}